* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
    overflow: auto;
}

.header h1 {
    font-size: 36px;
    display: inline-block;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header nav {
    padding-top: 15px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.hero {
    height: 800px;
    width: 100%;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 60%;
    display: inline-block;
    margin-left: 20px;
}

.service {
    margin-bottom: 20px;
    padding: 50px;
    height: 350px;
    background-color: #0072bb;
    color: #ffffff;
}

.service img {
    max-height: 200px;
}

.service h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    border: 1px solid #ccc;
    padding: 1rem;
}

.benefits article {
    flex: 1;
    text-align: center;
    margin: 0 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
}

.benefits h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.benefits img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
    border-top: 1px solid #ccc;
}

.footer h2 {
    font-size: 1.25rem;
    border: 1px solid #ccc;
    padding: 10px;
}